<!DOCTYPE html>
	<html>
		<meta charset="utf-8">
		<!-- Plantilla tomada de: http://jmcglone.com/guides/github-pages/ -->
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Inicio</a></li>
		        	<li><a href="/about">Acerca de</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:victor.velarde@gmail.com">correo</a></li>
	        		<li><a href="https://github.com/VictorVelarde">github.com/VictorVelarde</a></li>
				</ul>
			</footer>
		</body>
	</html>